.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  margin-top: 5%;
}

.table2 {
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
}

th, td {
  padding: 10px;
}

.calculating-indicator {
  font-size: 40px;
  font-weight: bold;
}

.horizontal-line {
  border-bottom: 1px solid black; /* Vízszintes vonal fekete színben és 1px vastagságban */
}


